<div class="container mt-3 mb-3">
    <h2>Leds</h2>
    <p>Om de temperatuur van TC74 te tonen wordt gebruikt gemaakt van socket.io</p>
    <div class="text-center row">
        <div class="col col-sm-4 col-md-4 col-lg-4">
            <div id="input-0" class="bg-light">input 0</div>
        </div>
        <div class="col col-sm-4 col-md-4 col-lg-4">
            <div id="input-1" class="bg-light">input 1</div>
        </div>
        <div class="col col-sm-4 col-md-4 col-lg-4">
            <div id="input-2" class="bg-light">input 2</div>
        </div>
    </div>
</div>