<div class="container mt-3 mb-3">
    <h2>Leds</h2>
    <p>om de status van enkele input pinnen te tonen, updaten gebeurt via push met socket.io</p>
    <div class="text-center row">
        <div class="col col-sm-4 col-md-4 col-lg-4">
            <div class="bg-light">input 1</div>
        </div>
        <div class="col col-sm-4 col-md-4 col-lg-4">
            <div class="bg-light">input 2</div>
        </div>
        <div class="col col-sm-4 col-md-4 col-lg-4">
            <div class="bg-light">input 3</div>
        </div>
    </div>
</div>