<div class="container mt-5 mb-3">
    <h2>Temperature</h2>

    <p>om de temperatuur van TC74 te tonen, updaten gebeurt via push met socket.i</p>
    <div class="bg-light text-center" style="margin: 0 auto; max-width: 200px;">
        <h3>30°C</h3>
    </div>
</div>