<div class="container mt-5 mb-3">
    <h2>Temperature</h2>
    <p>Om de temperatuur van TC74 te tonen wordt gebruikt gemaakt van socket.io</p>

    <div class="bg-light text-center mt-4" style="margin: 0 auto; max-width: 200px;">
        <h3><span id="temperature">000</span>°C</h3>
    </div>
</div>